*
{
  margin: 0;
  padding: 0;
  background-color:"#F0F8FF";
}


.main-wrapper{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  width: 100%;
  height: 90vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quiz-container{
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius:10px;
  width: 80%;
  max-width: 750px;
  height: 50%;
  padding: 30px;


.pointer-container
{
  font-size: x-large;
  margin-bottom: 20px;
}
.question_name
{
  font-size: larger;
  font-weight: 650;
 
}
}
.each-answer{
  margin: 40px;
  font-weight: 200;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
.each-answer:hover
{
  background-color: grey;
  cursor: pointer;

}
.previous-and-next, .restart-btn{
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  width: 140px;
  height: 60px;
  font-size: x-large;
}
.next
{
  margin-left:auto;
}


.action-btns button:hover{
  background-color: white;
  color: blue;
  border: blue solid 5px;
  border-color: black;
}
.wrongAnswers
{
  font-family: 'Times New Roman', Times, serif;
  color: red;
}


.result-details{
  display: inline-flex;
  justify-content: center;
  text-align: center;
}
.result-details > div{
  margin: 20px;
}
#attempted, #corrected, #wrong {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin-right: 5%;
  font-size: x-large;
}


.hide {
  display: none;
}


.each-wrong{
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: large;
 
}
.results-container {
  width: 100%;
  max-width: 800px;
  max-height: 500px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.results-header {
  margin-bottom: 1em;
  font-size: 2.5em;
  color: #333;
}


.restart-button {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
.restart-button:hover {
  background-color: lightblue;
}
h3
{
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  font-size: xx-large;
}
